=# render :partial => 'user_mailer/mail_header'
%body
  %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border:solid 15px #4d2a90;padding:40px 60px; color:#737373;font-weight:300;font-size:14px;font-family: 'Roboto', sans-serif;line-height:25px;", :width => "600"}
    =# render :partial => 'user_mailer/new_header'
    %tr
      %td{:style => "color:#492e87;font-weight:300;font-size:41px;font-family: 'Roboto', sans-serif;line-height:43px;"} 
        =# Its okay to forget your password
    %tr
      %td{:height => "20"}
    %tr
      %td
        #{@doctor.first_name} has registered to Midoconline as doctor with following details.
    %tr
      %td{:height => "20"}
        Name : #{@doctor.full_name}
    %tr
      %td{:height => "20"}
        Email : #{@doctor.email}
    %tr
      %td{:height => "20"}
        Contact No. :#{@doctor.mobile_no}
    %tr
      %td{:height => "20"}
        Licence No. :#{@doctor.licence}
    %tr
      %td{:height => "20"}
    %tr
      %td{:height => "20"}
    %tr
      %td
        Thanks,
        %br
          %span{:style => "color:#492e87;"} Midoconline Team
          %br
            %a{:href => "http://midoconline.com/", :style => "text-decoration:none;color:#492e87;", :target => "_blank"} Midoconline.com
    =# render :partial => 'user_mailer/mail_footer'        
 
