#myTabContent.tab-content
  #profile.tab-pane.tabs-up.fade.in.active.panel.panel-default
    %div
      = form_for @news_post do |f|
        .panel
          .panel-body.table-responsive
            %table.table.username_table.edit_user_table
              %thead
                %tr
                  %th Attribute
                  %th Value
              %tbody
                %tr
                  %td Title
                  %td
                    = f.text_field :title, :value => f.object.title
                %tr
                  %td Type
                  %td
                    = f.select :post_type, options_for_select([['News', 'news'], ['Blog','blog']], :selected => f.object.post_type)
                %tr
                  %td Sub Type
                  %td
                    = f.select :post_sub_type, options_for_select([['Software', 'software'], ['Health','health'], ['Technology','technology'], ['Popular','popular'], ['Editors Pick','editors_pick']], :selected => f.object.post_sub_type)
                %tr
                  %td Featured Type
                  %td
                    = f.select :featured, options_for_select([['No', false], ['Yes', true]], :selected => f.object.featured)
                
                %tr
                  %td Post Date
                  %td
                    = f.date_select :post_date
                %tr
                  %td Picture
                  %td
                    = f.file_field :image
                %tr
                  %td Description
                  %td
                    = f.text_area :description, :value => f.object.description, :rows => 5, :cols => 80
            .clearfix
            
            .col-md-4
              %input.btn.btn-success.btn-circle.btn-flat.btn-block{:style => "margin: 10px 0;", :type => "submit", :value => "Save"}
            .col-md-4
              %a.btn.btn-primary.btn-circle.btn-flat.btn-block{:style => "margin: 10px 0;", :href => news_posts_path}
                Back
            .clearfix
          